<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section
      name="System.Windows.Forms.ApplicationConfigurationSection"
      type="System.Windows.Forms.ApplicationConfigurationSection, System.Windows.Forms"
      requirePermission="false" />
  </configSections>

  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </System.Windows.Forms.ApplicationConfigurationSection>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false" />
  </runtime>
</configuration>
